@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Public Sans";
}

.input-shadow {
  box-shadow: 0px 0px 0px 1px rgba(134, 143, 160, 0.16),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.input-shadow-error {
  box-shadow: 0px 0px 0px 1px rgba(253, 2, 15, 0.4),
    0px 1px 2px 0px rgba(255, 0, 0, 0.2);
}

.custom_height {
  height: calc(100vh - 65px);
}

@keyframes slideInFromBottomRight {
  0% {
    transform: translate(100%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideZoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-animation {
  animation: slideZoom 0.2s ease-in;
}

.sort-custom-animation {
  animation: slideInFromBottomRight 0.2s ease-out;
}

.custom-animation-in {
  animation: slideIn 0.2s ease-out forwards;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}
